.counties {
    fill: none;
  }
  
  .states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
  }

  path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }
        
/* Legend Font Style */
body {
	font: 11px sans-serif;
}
        
/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}